<div class="card">
   <!--  <h1>User Login Form</h1> -->
        <div class="card-body">
            <div class="form-group d-flex flex-column">
               Username: <input [(ngModel)]='username' type="text" name="username" class="form-control"><br><br>
               Password: <input [(ngModel)]='password' type="password" name="password" class="form-control">
            </div>
            <div>
                <button class="btn btn-success" (click)="login()">Login</button>
            </div>
        </div>
        </div>
        
    
    
    
    
    
    
    
    
    
    