<!-- <app-template-form></app-template-form>
 -->
  <app-model-form></app-model-form>  
<!-- <app-valid-form></app-valid-form>
 -->
 <!-- <app-first-template></app-first-template>
  --><!-- <h1>Input and Output Product Application Running</h1>
 --><!-- <app-product-list></app-product-list>>
 -->
 <!-- <app-product-details></app-product-details>
  --><!-- <h1>Input and Output Customer Application Running</h1>
<app-customer-list></app-customer-list> -->
<!-- <app-customer-details></app-customer-details>
 -->
 <!-- <h1>Attribute Demo Running</h1>
<app-attribute-demo></app-attribute-demo> -->
<!-- <h1>Pipe demo running</h1>
 <app-test-pipe></app-test-pipe> -->
<!-- <h1>(Input Decorator)Parent to child Running</h1>
<app-databinding></app-databinding>  -->
<!--   <h1>(Output Decorator)Child to Parent Running</h1>
 --> <!-- <app-addchild></app-addchild>
  -->
 <!--  <app-addparent></app-addparent> -->
 <!-- {{2 | exponentialStrength:2}}
 -->
<!--  <h1>Searching-Product</h1>
<app-product-search></app-product-search> -->
 <!-- <h1>Employee-Filter-Search</h1>
<app-emp-crud-search-filter></app-emp-crud-search-filter>
 --><!-- <h1>NgSwitch-Demo</h1>
<app-ng-switch></app-ng-switch>
 -->
<!-- <h1>Product-Search</h1>
<app-product-search></app-product-search>
 --><!-- <h1>Angular Assignments</h1>
 <app-angular-assignments></app-angular-assignments>
 -->
 <!-- <h1>My second CRUD application started</h1>
<app-employee-crud></app-employee-crud>
  -->
  <!-- <h1>My first CRUD application started</h1>
<app-productCRUD></app-productCRUD>
 --><!-- <h1>Test if</h1>
<app-ngif></app-ngif>
<h1>My Login Application started</h1>
<app-MyLoginApp></app-MyLoginApp>
 <h2>My calculator Application started</h2>
<app-my-calculator></app-my-calculator>
 <h3>My Bank Application started</h3>
<app-MyBankApp></app-MyBankApp>
 -->

