
<div>
  <input [(ngModel)]="searchName" placeholder="Enter name to search">
<!-- <button (click)="getProductByName('searchName')">Check Product</button>
 -->
  <table border="4">
 <thead> 
  <tr>
    <th>Index</th>
    <th>Product-id</th>
    <th>Product-name</th>
    <th>Product-price</th>
    <th>Product-color</th>
    <th>Discount(%)</th>
    <th>Discounted-Price</th>
    
  </tr>
  </thead>
  <tbody>
    <tr *ngFor="let pro of products | myNamefilter:searchName;let i=index">
      <td>{{i+1}}</td>
      <td>{{pro.pid}}</td>
      <td>{{pro.pname}}</td>
      <td>{{pro.pprice}}</td>
      <td>{{pro.pcolor}}</td>
      <td>{{pro.discount}}</td>
      <td>{{pro.pprice | discountfilter:pro.discount}}</td>
      
    </tr>
  </tbody>
</table>
</div> 
<br>
<br>
<!-- <div>
  <h1>All Products</h1>
 <table>
 <thead>
     <tr>
      <th>Index</th>
      <th>Product-id</th>
      <th>Product-name</th>
      <th>Product-price</th>
      <th>Product-color</th>
       </tr>
 </thead>
 <tbody>
    <tr *ngFor='let pro of products;let i=index;'>
     <td>{{i+1}}</td>
     <td>{{pro.pid}}</td>
      <td>{{pro.pname}}</td>
      <td>{{pro.pprice}}</td>
      <td>{{pro.pcolor}}</td>
      </tr>

 </tbody>
</table>
<br/>

</div>
 -->